# Go to aistudio.google.com/app/apikey and create an API key for Gemini. Then, add the following line to your .env file, replacing the value with your actual API key.
GOOGLE_API_KEY=AIzaSyCANihVEnQ8_Xs7o0CiHxIwrb6YclggA_A
GCP_PROJECT_ID=usd-llm-data-science
BQ_DATASET=FinOps
BQ_TABLE=cloudbilling_daily

SENDER_EMAIL=
APP_PASSWORD=