altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
db-dtypes
dotenv
exceptiongroup
gitdb
GitPython
google
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-bigquery
google-cloud-core
google-crc32c
google-genai
google-generativeai
google-resumable-media
googleapis-common-protos
grpcio
h11
httpcore
httplib2
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
pandas
protobuf
python-dotenv
requests
scikit-learn
SQLAlchemy
streamlit